/* Hero */

.hero-wrapper {
  background-color: var(--accent-bg-color);
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-wrapper .button {
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Features */
.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Our work */

.section.work {
  padding-top: 0;
  padding-bottom: 94px;
}

/* Our team */

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-list .position {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-bg {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bg-color);
}
